-- SQL TO CHECK AND FIX YOUR PROPERTIES
-- Run in Supabase SQL Editor: https://supabase.com/dashboard/project/ryhdgpkvkcedplbwgnld/sql

-- 1. See ALL properties with status
SELECT 
  id,
  title,
  city,
  price,
  is_active,
  created_at
FROM properties 
ORDER BY created_at DESC;

-- 2. Count active vs inactive
SELECT 
  COUNT(*) as total,
  SUM(CASE WHEN is_active = true THEN 1 ELSE 0 END) as active,
  SUM(CASE WHEN is_active = false THEN 1 ELSE 0 END) as inactive
FROM properties;

-- 3. If you want to activate all properties:
-- UPDATE properties SET is_active = true WHERE is_active = false;

-- 4. If you want to see exact duplicates:
-- SELECT title, city, price, COUNT(*) as duplicate_count
-- FROM properties 
-- GROUP BY title, city, price 
-- HAVING COUNT(*) > 1;
